body.animsition
  // Header
  header.header1
    // Header desktop
    .container-menu-header
      .wrap_header
        // Logo
        a.logo(href='/')
          h1.logo-header DeepestDiscounts.net
        p.catchphrase-header MSRP vs. Walmart.com price - up to 90% off!
    // Header Mobile
    .wrap_header_mobile
      // Logo mobile
      a.logo-mobile(href='/')
        h1.mobile-header-text DeepestDiscounts.net
      // Button show menu
      .btn-show-menu
        // Header Icon mobile
        .header-icons-mobile
        .btn-show-menu-mobile.hamburger.hamburger--squeeze
          span.hamburger-box
            span.hamburger-inner
    // Menu Mobile
    .wrap-side-menu
      nav.side-menu
        ul.main-menu
          li.item-menu-mobile
            a(href=`/category/clearance/${priceRange}/${sortOrder}/1`) Clearance
          li.item-menu-mobile
            a(href=`/category/bestsellers/${priceRange}/${sortOrder}/1`) Bestsellers
          li.item-menu-mobile
            a(href=`/category/appliances/${priceRange}/${sortOrder}/1`) Appliances
          li.item-menu-mobile
            a(href=`/category/arts/${priceRange}/${sortOrder}/1`) Arts, Crafts & Sewing
          li.item-menu-mobile
            a(href=`/category/auto/${priceRange}/${sortOrder}/1`) Auto & Tires
          li.item-menu-mobile
            a(href=`/category/baby/${priceRange}/${sortOrder}/1`) Baby
          li.item-menu-mobile
            a(href=`/category/books/${priceRange}/${sortOrder}/1`) Books
          li.item-menu-mobile
            a(href=`/category/clothing/${priceRange}/${sortOrder}/1`) Clothing & Shoes
          li.item-menu-mobile
            a(href=`/category/computers/${priceRange}/${sortOrder}/1`) Computers
          li.item-menu-mobile
            a(href=`/category/electronics/${priceRange}/${sortOrder}/1`) Electronics
          li.item-menu-mobile
            a(href=`/category/games/${priceRange}/${sortOrder}/1`) Games & Puzzles
          li.item-menu-mobile
            a(href=`/category/health/${priceRange}/${sortOrder}/1`) Health
          li.item-menu-mobile
            a(href=`/category/home/${priceRange}/${sortOrder}/1`) Home
          li.item-menu-mobile
            a(href=`/category/jewelry/${priceRange}/${sortOrder}/1`) Jewelry
          li.item-menu-mobile
            a(href=`/category/kitchen/${priceRange}/${sortOrder}/1`) Kitchen & Dining
          li.item-menu-mobile
            a(href=`/category/pets/${priceRange}/${sortOrder}/1`) Pets
          li.item-menu-mobile
            a(href=`/category/smarthome/${priceRange}/${sortOrder}/1`) Smart Home
          li.item-menu-mobile
            a(href=`/category/sports/${priceRange}/${sortOrder}/1`) Sports & Outdoors
          li.item-menu-mobile
            a(href=`/category/toys/${priceRange}/${sortOrder}/1`) Toys