extends layout.pug

block content
  include header.pug
  // Content page
  section.bgwhite.p-t-55.p-b-65
    .container
      .row
        .col-sm-6.col-md-4.col-lg-3.p-b-50
          .leftbar.p-r-20.p-r-0-sm
            // 
            h4.m-text14.p-b-7.categories
              | Categories
            ul.p-b-54.categories
              li.p-t-4
                a.s-text13(href=`/category/bestsellers/${priceRange}/${sortOrder}/1`)
                  | Bestsellers 
              li.p-t-4
                a.s-text13(href=`/category/appliances/${priceRange}/${sortOrder}/1`)
                  | Appliances 
              li.p-t-4
                a.s-text13(href=`/category/arts/${priceRange}/${sortOrder}/1`)
                  | Arts, Crafts & Sewing
              li.p-t-4
                a.s-text13(href=`/category/auto/${priceRange}/${sortOrder}/1`)
                  | Auto & Tires
              li.p-t-4
                a.s-text13(href=`/category/baby/${priceRange}/${sortOrder}/1`)
                  | Baby
              li.p-t-4
                a.s-text13(href=`/category/clothing/${priceRange}/${sortOrder}/1`)
                  | Clothing & Shoes
              li.p-t-4
                a.s-text13(href=`/category/computers/${priceRange}/${sortOrder}/1`)
                  | Computers
              li.p-t-4
                a.s-text13(href=`/category/electronics/${priceRange}/${sortOrder}/1`)
                  | Electronics
              li.p-t-4
                a.s-text13(href=`/category/games/${priceRange}/${sortOrder}/1`)
                  | Games & Puzzles
              li.p-t-4
                a.s-text13(href=`/category/health/${priceRange}/${sortOrder}/1`)
                  | Health
              li.p-t-4
                a.s-text13(href=`/category/home/${priceRange}/${sortOrder}/1`)
                  | Home
              li.p-t-4
                a.s-text13(href=`/category/jewelry/${priceRange}/${sortOrder}/1`)
                  | Jewelry
              li.p-t-4
                a.s-text13(href=`/category/kitchen/${priceRange}/${sortOrder}/1`)
                  | Kitchen & Dining
              li.p-t-4
                a.s-text13(href=`/category/pets/${priceRange}/${sortOrder}/1`)
                  | Pets
              li.p-t-4
                a.s-text13(href=`/category/smarthome/${priceRange}/${sortOrder}/1`)
                  | Smart Home
              li.p-t-4
                a.s-text13(href=`/category/sports/${priceRange}/${sortOrder}/1`)
                  | Sports & Outdoors
              li.p-t-4
                a.s-text13(href=`/category/toys/${priceRange}/${sortOrder}/1`)
                  | Toys
        .col-sm-6.col-md-8.col-lg-9.p-b-50
          // 
          .flex-sb-m.flex-w.p-b-35
            .flex-w
              .rs2-select2.bo4.of-hidden.w-size12.m-t-5.m-b-5.m-r-10
                select.selection-2.sorting(name='sorting')
                  if 0 == `${sortOrder}`
                    option Biggest discount by %
                    option Biggest discount by $
                  else
                    option Biggest discount by $
                    option Biggest discount by %
              .rs2-select2.bo4.of-hidden.w-size12.m-t-5.m-b-5.m-r-10
                select.selection-2.price(name='price')
                  if `${priceRange}` == 0  
                    option Price
                    option $0.00 - $20.00
                    option $20.00 - $50.00
                    option $50.00 - $100.00
                    option $100.00 - $200.00
                    option $200.00+
                  if `${priceRange}` == 1  
                    option $0.00 - $20.00
                    option No Price Limit
                    option $20.00 - $50.00
                    option $50.00 - $100.00
                    option $100.00 - $200.00
                    option $200.00+
                  if `${priceRange}` == 2 
                    option $20.00 - $50.00
                    option No Price Limit
                    option $0.00 - $20.00
                    option $50.00 - $100.00
                    option $100.00 - $200.00
                    option $200.00+
                  if `${priceRange}` == 3 
                    option $50.00 - $100.00
                    option No Price Limit
                    option $0.00 - $20.00
                    option $20.00 - $50.00
                    option $100.00 - $200.00
                    option $200.00+
                  if `${priceRange}` == 4
                    option $100.00 - $200.00
                    option No Price Limit
                    option $0.00 - $20.00
                    option $20.00 - $50.00
                    option $50.00 - $100.00
                    option $200.00+
                  if `${priceRange}` == 5  
                    option $200.00+
                    option No Price Limit
                    option $0.00 - $20.00
                    option $20.00 - $50.00
                    option $50.00 - $100.00
                    option $100.00 - $200.00
            span.s-text8.p-t-5.p-b-5
              | Showing #{showingProductStart}-#{showingProductEnd} of #{numProducts} results
          // Product
          .row
            each product in products
              .col-sm-12.col-md-6.col-lg-4.p-b-50
                // Block2
                .block2
                  .block2-img.wrap-pic-w.of-hidden.pos-relative
                    if product.largeImage
                      img(src=`${product.largeImage}`, alt=`${product.name}`)
                    else if product.mediumImage
                      img(src=`${product.mediumImage}`, alt=`${product.name}`)
                    else
                      img(src='/images/item-02.jpg', alt=`${product.name}`)
                    .block2-overlay.trans-0-4
                      .block2-btn-addcart.w-size1.trans-0-4
                        // Button
                        a.flex-c-m.size1.bg4.bo-rad-23.hov1.s-text1.trans-0-4(href=`${product.productUrl}` target="_blank")
                          | Buy
                  .block2-txt.p-t-20
                    a.block2-name.dis-block.s-text3.p-b-5(href=`${product.productUrl}` target="_blank")
                      | #{product.name}
                    if product.msrp
                      span.block2-price.m-text6.p-r-5.strikethrough
                        | MSRP: $#{product.msrp}
                    span.block2-price.m-text6.p-r-5
                      | $#{product.salePrice}
          // Pagination
          .pagination.flex-m.flex-w.p-t-26
            - var n = 0
            while n < `${numProducts / 24}`
              - n++
              if n == `${pageNum}` 
                a.item-pagination.flex-c-m.trans-0-4.active-pagination(href=`/category/${category}/${priceRange}/${sortOrder}/${n}`) #{n}
              else
                a.item-pagination.flex-c-m.trans-0-4(href=`/category/${category}/${priceRange}/${sortOrder}/${n}`) #{n}
              //- #{n++}
          // No product to display
          if `${numProducts}` == 0
            p There are no products available in this category at present. We might be updating our database ... please try again in a few minutes.
  include footer.pug